body {
  background-color: lightsalmon;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-div {
  display: flex;
  justify-content: center;
}
.btn {
  margin: 40px;
}

.card {
  margin-top: 10px;
  text-align: center;
}

.card-title {
  background-color: lightgrey;
  height: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.card-img-top {
  padding: 8px;
  object-fit: cover;
  width: 220px;
  height: 220px;
  align-self: center;
  margin: 10px;
  border: 1px black solid;
}

.list-group-item {
  border: none;
}

.cat-type {
  background-color: #d9eef7;
  color: #1e68c4;
}

.dino-type {
  background-color: #fcf8e3;
  color: #fec46c;
}

.dog-type {
  background-color: #dff0d8;
  color: #6dac6d;
}

#list-group-type {
  margin: 0px;
  height: 2.5rem;
  align-items: center;
  padding-top: 8px;
}
.form-container {
  width: 60%;
  margin: 10px auto;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

label {
  width: 75px;
  display: block;
  height: 20px;
}
input {
  margin: 5px;
  width: 500px;
}
select {
  display: inline;
}
#submit {
  width: 75px;
}
#chooseAnimal {
  width: 100px;
  display: inline;
  margin-right: 30px;
}
.petImage {
  width: 200px;
  margin-top: 10px;
}
.btn-outline-dark {
  margin: 0px;
  height: auto;
  padding: 0px;
}
.delete-container {
  height: 30px;
}
